<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoMatterDaWeather app</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <form action="">
        <input type="search" placeholder="Search for a city or state">
        <i class="fa fa-search"></i>
    </form>
    <header>
        <h1> Personalized weather forecast </h1>
    </header>
    <main>
        <section id="current-weather">
            <h2>Current Weather</h2>
            <div id="weather-details">
                <!--will need to populate this with data once we get api figured out-->
            </div>
        </section>
        <section id="forecast">
            <h2>7-Day Forecast</h2>
            <div id="forecast-container">
                <!--forecast data goes here-->
            </div>
        </section>
    </main>
    <!--can add link to py files for interactivity, fetching/displaying weather data-->
</body>

</html>